html {
    background-color: black;
}
body {
    font-family: Tahoma;
    color: white;
}
.director {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.link-hider {
    color: white;
    cursor: pointer;
    text-emphasis: none;
}
img {
    display: block; /* or inline-block */
    margin: 0 auto; /* for center alignment */
}